body{
    background-image: url("../public/images/ivana-cajina-asuyh-_ZX54-unsplash.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

button:hover{
    cursor: pointer;
}

h1, p{
    color: white;
}